In [2]:
import pandas as pd

eu = pd.read_html("http://en.wikipedia.org/wiki/Member_state_of_the_European_Union", attrs = {"class":"wikitable sortable"}, header = 0)

In [3]:
print eu

[         Country name                                        Native name  \
0             Austria                                         Österreich
1             Belgium                              BelgiëBelgiqueBelgien
2            Bulgaria                               България (Bǎlgariya)
3             Croatia                                           Hrvatska
4              Cyprus                              Κύπρος (Kípros)Kıbrıs
5      Czech Republic                                              Česko
6             Denmark                                            Danmark
7             Estonia                                              Eesti
8             Finland                                              Suomi
9              France                                             France
10            Germany                                        Deutschland
11             Greece                                    Ελλάδα (Elláda)
12            Hungary                                       Magyarország
13            Ireland                                        ÉireIreland
14              Italy                                             Italia
15             Latvia                                            Latvija
16          Lithuania                                            Lietuva
17         Luxembourg                      LuxembourgLuxemburgLëtzebuerg
18              Malta                                              Malta
19        Netherlands                                  NederlandNederlân
20             Poland                                             Polska
21           Portugal                                           Portugal
22            Romania                                            România
23           Slovakia                                          Slovensko
24           Slovenia                                          Slovenija
25              Spain                              EspañaEspanyaEspainia
26             Sweden                                            Sverige
27  United Kingdom[k]  United KingdomDeyrnas UnedigAn Rìoghachd Aonai...

    Arms  Flag     Capital Accession Population Area (km²)  \
0    NaN   NaN      Vienna      1995        [7]        NaN
1    NaN   NaN    Brussels       NaN        [7]        NaN
2    NaN   NaN       Sofia      2007        [7]        NaN
3    NaN   NaN      Zagreb      2013        [7]        NaN
4    NaN   NaN     Nicosia      2004        [7]        NaN
5    NaN   NaN      Prague      2004        [7]        NaN
6    NaN   NaN  Copenhagen      1973        [7]        NaN
7    NaN   NaN     Tallinn      2004        [7]        NaN
8    NaN   NaN    Helsinki      1995        [7]        NaN
9    NaN   NaN       Paris       NaN        [7]       [11]
10   NaN   NaN      Berlin       [g]        [7]        NaN
11   NaN   NaN      Athens      1981        [7]        NaN
12   NaN   NaN    Budapest      2004        [7]        NaN
13   NaN   NaN      Dublin      1973        [7]        NaN
14   NaN   NaN        Rome       NaN        [7]        NaN
15   NaN   NaN        Riga      2004        [7]        NaN
16   NaN   NaN     Vilnius      2004        [7]        NaN
17   NaN   NaN  Luxembourg       NaN        [7]        NaN
18   NaN   NaN    Valletta      2004        [7]        NaN
19   NaN   NaN   Amsterdam       NaN        [7]        NaN
20   NaN   NaN      Warsaw      2004        [7]        NaN
21   NaN   NaN      Lisbon      1986        [7]        NaN
22   NaN   NaN   Bucharest      2007        [7]        NaN
23   NaN   NaN  Bratislava      2004        [7]        NaN
24   NaN   NaN   Ljubljana      2004        [7]        NaN
25   NaN   NaN      Madrid      1986        [7]        NaN
26   NaN   NaN   Stockholm      1995        [7]        NaN
27   NaN   NaN      London      1973        [7]        NaN

    GDP (PPP)(millions of US$) GDP per cap.(PPP)[6]        Currency Gini  \
0                          NaN            50,031[8]            euro  [9]
1                          NaN            46,621[8]            euro  [9]
2                          NaN            21,768[8]             lev  [9]
3                          NaN            24,749[8]            kuna  [9]
4                          NaN            37,172[8]            euro  [9]
5                          NaN            35,537[8]    Czech koruna  [9]
6                          NaN            50,071[8]     krone (DKK)  [9]
7                          NaN            31,649[8]            euro  [9]
8                          NaN            44,492[8]            euro  [9]
9                          NaN            44,081[8]            euro  [9]
10                         NaN            50,804[8]            euro  [9]
11                         NaN            27,796[8]            euro  [9]
12                         NaN            29,559[8]          forint  [9]
13                         NaN            73,215[8]            euro  [9]
14                         NaN            38,233[8]            euro  [9]
15                         NaN            27,702[8]            euro  [9]
16                         NaN            32,379[8]            euro  [9]
17                         NaN           105,148[8]            euro  [9]
18                         NaN            41,839[8]            euro  [9]
19                         NaN            53,933[8]            euro  [9]
20                         NaN            29,642[8]           złoty  [9]
21                         NaN            30,487[8]            euro  [9]
22                         NaN            24,605[8]             leu  [9]
23                         NaN            33,070[8]            euro  [9]
24                         NaN            34,480[8]            euro  [9]
25                         NaN            38,381[8]            euro  [9]
26                         NaN            51,185[8]     krona (SEK)  [9]
27                         NaN            44,292[8]  pound sterling  [9]

     HDI  Councilvotes  EPseats                        Languages  \
0   [10]            10       18                           German
1   [10]            12       21                DutchFrenchGerman
2   [10]            10       17                        Bulgarian
3   [10]             7       11                         Croatian
4   [10]             4        6                  GreekTurkish[a]
5   [10]            12       21                        Czech [d]
6   [10]             7       13                           Danish
7   [10]             4        6                         Estonian
8   [10]             7       13                   FinnishSwedish
9   [10]            29       74                           French
10  [10]            29       96                           German
11  [10]            12       21                            Greek
12  [10]            12       21                        Hungarian
13  [10]             7       11                     IrishEnglish
14  [10]            29       73                          Italian
15  [10]             4        8                          Latvian
16  [10]             7       11                       Lithuanian
17  [10]             4        6     FrenchGermanLuxembourgish[h]
18  [10]             3        6                   MalteseEnglish
19  [10]            13       26                  DutchFrisian[i]
20  [10]            27       51                           Polish
21  [10]            12       21                       Portuguese
22  [10]            14       32                         Romanian
23  [10]             7       13                           Slovak
24  [10]             4        8                          Slovene
25  [10]            27       54  SpanishGalicianCatalanBasque[j]
26  [10]            10       20                          Swedish
27  [10]            29       73   EnglishWelshScottish Gaelic[l]

                                          Territories
0                                                   –
1                                                   –
2                                                   –
3                                                   –
4   2 excluded excludes:  Northern Cyprus[b] UN bu...
5                                                   –
6   2 excluded excludes:  Faroe Islands  Greenland[e]
7                                                   –
8                          1 includes:  Åland Islands
9   6 + 7 excluded includes:  French Guiana  Guade...
10                                                  –
11                                                  –
12                                                  –
13                                                  –
14                                                  –
15                                                  –
16                                                  –
17                                                  –
18                                                  –
19  6 excluded excludes:  Aruba  Curaçao  Sint Maa...
20                                                  –
21                       2 includes:  Azores  Madeira
22                                                  –
23                                                  –
24                                                  –
25  4 includes:  Canary Islands  Ceuta  Melilla Pl...
26                                                  –
27  1 + 16 excluded includes:  Gibraltar excludes:...  ,         Territory Member State        Location  Areakm2  Population  \
0          Azores     Portugal  Atlantic Ocean     2333      237900
1  Canary Islands        Spain  Atlantic Ocean     7447     1715700
2   French Guiana       France   South America    84000      161100
3      Guadeloupe       France       Caribbean     1710      425700
4         Madeira     Portugal  Atlantic Ocean      795      244800
5    Saint-Martin       France       Caribbean       52       25000
6      Martinique       France       Caribbean     1080      383300
7         Réunion       France    Indian Ocean     2512      837868
8     Mayotte[56]       France    Indian Ocean      374      212645

   Per capita GDP(EU=100) EU VAT area Schengen Area
0                    66.7         Yes           Yes
1                    93.7          No           Yes
2                    50.5          No            No
3                    50.5          No            No
4                    94.9         Yes           Yes
5                    61.9          No            No
6                    75.6          No            No
7                    61.6          No            No
8                     NaN          No            No  ]

In [5]:
eu[0]

,Country name,Native name,Arms,Flag,Capital,Accession,Population,Area (km²),GDP (PPP)(millions of US$),GDP per cap.(PPP)[6],Currency,Gini,HDI,Councilvotes,EPseats,Languages,Territories
0,Austria,Österreich,NaN,NaN,Vienna,1995,[7],NaN,NaN,"50,031[8]",euro,[9],[10],10,18,German,–
1,Belgium,BelgiëBelgiqueBelgien,NaN,NaN,Brussels,NaN,[7],NaN,NaN,"46,621[8]",euro,[9],[10],12,21,DutchFrenchGerman,–
2,Bulgaria,България (Bǎlgariya),NaN,NaN,Sofia,2007,[7],NaN,NaN,"21,768[8]",lev,[9],[10],10,17,Bulgarian,–
3,Croatia,Hrvatska,NaN,NaN,Zagreb,2013,[7],NaN,NaN,"24,749[8]",kuna,[9],[10],7,11,Croatian,–
4,Cyprus,Κύπρος (Kípros)Kıbrıs,NaN,NaN,Nicosia,2004,[7],NaN,NaN,"37,172[8]",euro,[9],[10],4,6,GreekTurkish[a],2 excluded excludes: Northern Cyprus[b] UN bu...
5,Czech Republic,Česko,NaN,NaN,Prague,2004,[7],NaN,NaN,"35,537[8]",Czech koruna,[9],[10],12,21,Czech [d],–
6,Denmark,Danmark,NaN,NaN,Copenhagen,1973,[7],NaN,NaN,"50,071[8]",krone (DKK),[9],[10],7,13,Danish,2 excluded excludes: Faroe Islands Greenland[e]
7,Estonia,Eesti,NaN,NaN,Tallinn,2004,[7],NaN,NaN,"31,649[8]",euro,[9],[10],4,6,Estonian,–
8,Finland,Suomi,NaN,NaN,Helsinki,1995,[7],NaN,NaN,"44,492[8]",euro,[9],[10],7,13,FinnishSwedish,1 includes: Åland Islands
9,France,France,NaN,NaN,Paris,NaN,[7],[11],NaN,"44,081[8]",euro,[9],[10],29,74,French,6 + 7 excluded includes: French Guiana Guade...
10,Germany,Deutschland,NaN,NaN,Berlin,[g],[7],NaN,NaN,"50,804[8]",euro,[9],[10],29,96,German,–
11,Greece,Ελλάδα (Elláda),NaN,NaN,Athens,1981,[7],NaN,NaN,"27,796[8]",euro,[9],[10],12,21,Greek,–
12,Hungary,Magyarország,NaN,NaN,Budapest,2004,[7],NaN,NaN,"29,559[8]",forint,[9],[10],12,21,Hungarian,–
13,Ireland,ÉireIreland,NaN,NaN,Dublin,1973,[7],NaN,NaN,"73,215[8]",euro,[9],[10],7,11,IrishEnglish,–
14,Italy,Italia,NaN,NaN,Rome,NaN,[7],NaN,NaN,"38,233[8]",euro,[9],[10],29,73,Italian,–
15,Latvia,Latvija,NaN,NaN,Riga,2004,[7],NaN,NaN,"27,702[8]",euro,[9],[10],4,8,Latvian,–
16,Lithuania,Lietuva,NaN,NaN,Vilnius,2004,[7],NaN,NaN,"32,379[8]",euro,[9],[10],7,11,Lithuanian,–
17,Luxembourg,LuxembourgLuxemburgLëtzebuerg,NaN,NaN,Luxembourg,NaN,[7],NaN,NaN,"105,148[8]",euro,[9],[10],4,6,FrenchGermanLuxembourgish[h],–
18,Malta,Malta,NaN,NaN,Valletta,2004,[7],NaN,NaN,"41,839[8]",euro,[9],[10],3,6,MalteseEnglish,–
19,Netherlands,NederlandNederlân,NaN,NaN,Amsterdam,NaN,[7],NaN,NaN,"53,933[8]",euro,[9],[10],13,26,DutchFrisian[i],6 excluded excludes: Aruba Curaçao Sint Maa...
20,Poland,Polska,NaN,NaN,Warsaw,2004,[7],NaN,NaN,"29,642[8]",złoty,[9],[10],27,51,Polish,–
21,Portugal,Portugal,NaN,NaN,Lisbon,1986,[7],NaN,NaN,"30,487[8]",euro,[9],[10],12,21,Portuguese,2 includes: Azores Madeira
22,Romania,România,NaN,NaN,Bucharest,2007,[7],NaN,NaN,"24,605[8]",leu,[9],[10],14,32,Romanian,–
23,Slovakia,Slovensko,NaN,NaN,Bratislava,2004,[7],NaN,NaN,"33,070[8]",euro,[9],[10],7,13,Slovak,–
24,Slovenia,Slovenija,NaN,NaN,Ljubljana,2004,[7],NaN,NaN,"34,480[8]",euro,[9],[10],4,8,Slovene,–
25,Spain,EspañaEspanyaEspainia,NaN,NaN,Madrid,1986,[7],NaN,NaN,"38,381[8]",euro,[9],[10],27,54,SpanishGalicianCatalanBasque[j],4 includes: Canary Islands Ceuta Melilla Pl...
26,Sweden,Sverige,NaN,NaN,Stockholm,1995,[7],NaN,NaN,"51,185[8]",krona (SEK),[9],[10],10,20,Swedish,–
27,United Kingdom[k],United KingdomDeyrnas UnedigAn Rìoghachd Aonai...,NaN,NaN,London,1973,[7],NaN,NaN,"44,292[8]",pound sterling,[9],[10],29,73,EnglishWelshScottish Gaelic[l],1 + 16 excluded includes: Gibraltar excludes:...

In [6]:
eu_df = pd.DataFrame(eu[0])

In [7]:
eu_df

,Country name,Native name,Arms,Flag,Capital,Accession,Population,Area (km²),GDP (PPP)(millions of US$),GDP per cap.(PPP)[6],Currency,Gini,HDI,Councilvotes,EPseats,Languages,Territories
0,Austria,Österreich,NaN,NaN,Vienna,1995,[7],NaN,NaN,"50,031[8]",euro,[9],[10],10,18,German,–
1,Belgium,BelgiëBelgiqueBelgien,NaN,NaN,Brussels,NaN,[7],NaN,NaN,"46,621[8]",euro,[9],[10],12,21,DutchFrenchGerman,–
2,Bulgaria,България (Bǎlgariya),NaN,NaN,Sofia,2007,[7],NaN,NaN,"21,768[8]",lev,[9],[10],10,17,Bulgarian,–
3,Croatia,Hrvatska,NaN,NaN,Zagreb,2013,[7],NaN,NaN,"24,749[8]",kuna,[9],[10],7,11,Croatian,–
4,Cyprus,Κύπρος (Kípros)Kıbrıs,NaN,NaN,Nicosia,2004,[7],NaN,NaN,"37,172[8]",euro,[9],[10],4,6,GreekTurkish[a],2 excluded excludes: Northern Cyprus[b] UN bu...
5,Czech Republic,Česko,NaN,NaN,Prague,2004,[7],NaN,NaN,"35,537[8]",Czech koruna,[9],[10],12,21,Czech [d],–
6,Denmark,Danmark,NaN,NaN,Copenhagen,1973,[7],NaN,NaN,"50,071[8]",krone (DKK),[9],[10],7,13,Danish,2 excluded excludes: Faroe Islands Greenland[e]
7,Estonia,Eesti,NaN,NaN,Tallinn,2004,[7],NaN,NaN,"31,649[8]",euro,[9],[10],4,6,Estonian,–
8,Finland,Suomi,NaN,NaN,Helsinki,1995,[7],NaN,NaN,"44,492[8]",euro,[9],[10],7,13,FinnishSwedish,1 includes: Åland Islands
9,France,France,NaN,NaN,Paris,NaN,[7],[11],NaN,"44,081[8]",euro,[9],[10],29,74,French,6 + 7 excluded includes: French Guiana Guade...
10,Germany,Deutschland,NaN,NaN,Berlin,[g],[7],NaN,NaN,"50,804[8]",euro,[9],[10],29,96,German,–
11,Greece,Ελλάδα (Elláda),NaN,NaN,Athens,1981,[7],NaN,NaN,"27,796[8]",euro,[9],[10],12,21,Greek,–
12,Hungary,Magyarország,NaN,NaN,Budapest,2004,[7],NaN,NaN,"29,559[8]",forint,[9],[10],12,21,Hungarian,–
13,Ireland,ÉireIreland,NaN,NaN,Dublin,1973,[7],NaN,NaN,"73,215[8]",euro,[9],[10],7,11,IrishEnglish,–
14,Italy,Italia,NaN,NaN,Rome,NaN,[7],NaN,NaN,"38,233[8]",euro,[9],[10],29,73,Italian,–
15,Latvia,Latvija,NaN,NaN,Riga,2004,[7],NaN,NaN,"27,702[8]",euro,[9],[10],4,8,Latvian,–
16,Lithuania,Lietuva,NaN,NaN,Vilnius,2004,[7],NaN,NaN,"32,379[8]",euro,[9],[10],7,11,Lithuanian,–
17,Luxembourg,LuxembourgLuxemburgLëtzebuerg,NaN,NaN,Luxembourg,NaN,[7],NaN,NaN,"105,148[8]",euro,[9],[10],4,6,FrenchGermanLuxembourgish[h],–
18,Malta,Malta,NaN,NaN,Valletta,2004,[7],NaN,NaN,"41,839[8]",euro,[9],[10],3,6,MalteseEnglish,–
19,Netherlands,NederlandNederlân,NaN,NaN,Amsterdam,NaN,[7],NaN,NaN,"53,933[8]",euro,[9],[10],13,26,DutchFrisian[i],6 excluded excludes: Aruba Curaçao Sint Maa...
20,Poland,Polska,NaN,NaN,Warsaw,2004,[7],NaN,NaN,"29,642[8]",złoty,[9],[10],27,51,Polish,–
21,Portugal,Portugal,NaN,NaN,Lisbon,1986,[7],NaN,NaN,"30,487[8]",euro,[9],[10],12,21,Portuguese,2 includes: Azores Madeira
22,Romania,România,NaN,NaN,Bucharest,2007,[7],NaN,NaN,"24,605[8]",leu,[9],[10],14,32,Romanian,–
23,Slovakia,Slovensko,NaN,NaN,Bratislava,2004,[7],NaN,NaN,"33,070[8]",euro,[9],[10],7,13,Slovak,–
24,Slovenia,Slovenija,NaN,NaN,Ljubljana,2004,[7],NaN,NaN,"34,480[8]",euro,[9],[10],4,8,Slovene,–
25,Spain,EspañaEspanyaEspainia,NaN,NaN,Madrid,1986,[7],NaN,NaN,"38,381[8]",euro,[9],[10],27,54,SpanishGalicianCatalanBasque[j],4 includes: Canary Islands Ceuta Melilla Pl...
26,Sweden,Sverige,NaN,NaN,Stockholm,1995,[7],NaN,NaN,"51,185[8]",krona (SEK),[9],[10],10,20,Swedish,–
27,United Kingdom[k],United KingdomDeyrnas UnedigAn Rìoghachd Aonai...,NaN,NaN,London,1973,[7],NaN,NaN,"44,292[8]",pound sterling,[9],[10],29,73,EnglishWelshScottish Gaelic[l],1 + 16 excluded includes: Gibraltar excludes:...

In [13]:
eu_df['Capital'][3]

'Zagreb'